@page "/"
@using Application.Queries.GetAllChampionships;


<PageTitle>Inicio</PageTitle>

<h1 class="pt-4">Bienvenido a la App de Porras</h1>

<div class="row pt-4">
    <h3>Ligas</h3>
</div>

@code{
    private AllChampionshipsVm _vm = null!;

    [Inject]
    private IMediator _mediator { get; set; } = null!;


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        _vm = await _mediator.Send(new GetAllChampionshipsQuery());    
    }
}